@charset "utf-8";

footer {
    width: 100%;
    min-width: 1200px;
    height: 100px;
    margin-bottom: 50px;
    background-color: #aaa;
    >address{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}