@charset "UTF-8";
#wrap {
  width: 1200px;
  margin: 0 auto;
  color: #333;
}
#wrap > header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
#wrap > header > nav {
  width: 20%;
  margin-right: 20px;
}
#wrap > header > nav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#wrap > header > nav > ul > li {
  width: 80px;
}
#wrap > header > nav > ul > li.on {
  background-color: #ddd;
  font-weight: 700;
}
#wrap > header > nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border: 1px solid #000;
}
#wrap > header > .headMiddle {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  position: relative;
  height: 80px;
}
#wrap > header > .headMiddle > h1 {
  width: 200px;
  text-align: center;
}
#wrap > header > .headMiddle > .searchFrame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border: 3px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
}
#wrap > header > .headMiddle > .searchFrame.searched {
  border-radius: 20px 20px 0 0;
}
#wrap > header > .headMiddle > .searchFrame > p.searchId {
  width: 80px;
  height: 40px;
  color: #222;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
#wrap > header > .headMiddle > .searchFrame > form {
  flex: 1 1 auto;
}
#wrap > header > .headMiddle > .searchFrame > form > input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
}
#wrap > header > .headMiddle > .searchFrame > span {
  display: none;
  width: 80px;
  height: 40px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background-color: #ddd;
  cursor: pointer;
}
#wrap > header > .headMiddle > .searchFrame > span.visible {
  display: block;
}
#wrap > header > .headMiddle > .searchedList {
  position: absolute;
  top: 58px;
  left: 250px;
  width: 610px;
  height: auto;
}
#wrap > header > .headMiddle > .searchedList > li {
  background-color: #fff;
  border: 3px solid #ddd;
  box-sizing: border-box;
}
#wrap > header > .headMiddle > .searchedList > li:last-child {
  border-radius: 0 0 20px 20px;
}
#wrap > header > .headMiddle > .searchedList > li > p {
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
#wrap > header > .headMiddle > .searchedList > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}
#wrap > header > .headMiddle > .searchedList > li > a > img {
  height: 80px;
}
#wrap > header > .headMiddle > .searchedList > li > a > .title {
  width: 30%;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
#wrap > header > .headMiddle > .searchedList > li > a > .author {
  width: 30%;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
#wrap > header > .headMiddle > .searchedList > li > a > .genre {
  width: 10%;
  color: #666;
}
#wrap > header > .headMiddle > .searchList {
  display: none;
}
#wrap > header > .headMiddle:has(p.searchId:hover) > .searchList,
#wrap > header > .headMiddle > .searchList:hover {
  display: block;
  position: absolute;
  top: 60px;
  left: 170px;
  padding: 0 10px;
  background-color: #fff;
  border: 2px solid #333;
  box-sizing: border-box;
}
#wrap > header > .headMiddle:has(p.searchId:hover) > .searchList > li,
#wrap > header > .headMiddle > .searchList:hover > li {
  margin: 5px;
  color: #ddd;
  cursor: pointer;
}
#wrap > section.admin {
  padding: 150px 0 50px;
}
#wrap form { /* 수정 : form을 section의 밑이 아닌 바깥으로 뺐음 */ }
#wrap form > p { /* 수정 : 태그 및 스타일 추가 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 16px;
}
#wrap form #bookInfoWrap { /* 수정 : 태그 추가 */ }
#wrap form #bookInfoWrap .topContainer { /* 수정 : 부모요소가 추가됨에 따라 하위로 이동 */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
#wrap form #bookInfoWrap .topContainer > img { /* 수정 : 태그 추가 */
  display: block;
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  outline: 1px solid red;
}
#wrap form #bookInfoWrap .topContainer > div.inputPhoto {
  position: absolute; /*추가*/
  width: 200px;
  height: 250px;
}
#wrap form #bookInfoWrap .topContainer > div.inputPhoto > label { /*추가*/
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  text-indent: -9999px;
}
#wrap form #bookInfoWrap .topContainer > div.inputPhoto > label:hover::after { /*추가*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-indent: initial;
  color: #fff;
  font-size: 15px;
  content: "사진 등록/변경";
}
#wrap form #bookInfoWrap .topContainer > div.inputPhoto > input { /*추가 : require속성 때문에 display:none 불가능*/
  position: absolute;
  bottom: 0;
  left: 0;
  background: none;
  border: none;
  text-indent: -9999px;
  width: 0;
  height: 0;
}
#wrap form #bookInfoWrap .topContainer > .shortInput {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  width: 75%;
  height: 480px;
  padding: 10px;
}
#wrap form #bookInfoWrap .topContainer > .shortInput > li {
  width: 40%;
  margin: 15px 0;
}
#wrap form #bookInfoWrap .topContainer > .shortInput > li > label {
  display: block;
  width: 80px;
}
#wrap form #bookInfoWrap .topContainer > .shortInput > li > input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}
#wrap form #bookInfoWrap > ul {
  width: 95%;
  margin: 0 auto;
}
#wrap form #bookInfoWrap > ul > li {
  margin: 30px 0;
}
#wrap form #bookInfoWrap > ul > li > input {
  width: 100%;
  height: 300px;
  padding: 5px;
  font-size: 16px;
}
#wrap form > button {
  display: block;
  width: 500px;
  margin: 50px auto;
  padding: 30px;
  font-size: 25px;
}/*# sourceMappingURL=admin.css.map */