@charset "utf-8";

#wrap{
  width: 1200px;
  margin: 0 auto;
  color: #333;

  >header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
    >nav{
      width: 20%;
      margin-right: 20px;
      >ul{  
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        >li{
          width: 80px;
          &.on{
            background-color: #ddd;
            font-weight: 700;
          }//a.on
          >a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            border: 1px solid #000;
          }
        }//li
      }//ul
    }//nav
    >.headMiddle {
      display: flex;
      align-items: center;
      flex: 1 1 0;
      position: relative;
      height: 80px;
      >h1{
        width: 200px;
        text-align: center;
      }
      >.searchFrame{
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 40px;
        margin: 0 auto;
        border: 3px solid #ddd;
        border-radius: 20px;
        box-sizing: border-box;
        &.searched{
            border-radius: 20px 20px 0 0;
        }//.searched

        >p.searchId{
          width: 80px;
          height: 40px;
          color: #222;
          font-size: 12px;
          line-height: 40px;
          text-align: center;
          cursor: pointer;
        }//p.searchId
        >form{
          flex: 1 1 auto;
          >input{
            border: none;
            outline: none;
            width: 100%;
            height: 30px;
          }//input
        }//form
        >span{
          display: none;
          width: 80px;
          height: 40px;
          color: #fff;
          font-weight: 500;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          background-color: #ddd;
          cursor: pointer;
          &.visible{display: block;}
        }//span
      }//.searchFrame
      >.searchedList{
        position: absolute;
        top: 58px;
        left: 250px;
        width: 610px;
        height: auto;
        >li{
          background-color: #fff;
          border: 3px solid #ddd;
          box-sizing: border-box;
          &:last-child{border-radius: 0 0 20px 20px;}
          >p{
            width: 100%;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
          }//p
          >a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100px;
            padding: 10px;
            box-sizing: border-box;
            >img{
              height: 80px;
            }//img
            >.title{
              width: 30%;
              font-weight: 600;
              font-size: 18px;
              line-height: 25px;
              text-align: center;
            }//.title
            >.author{
              width: 30%;
              font-weight: 400;
              font-size: 16px;
              text-align: center;
            }//.author
            >.genre{
              width: 10%;
              color: #666;
            }//.genre
          }//a
        }//li
      }//.searchedList

      >.searchList{display: none;}

      &:has(p.searchId:hover)>.searchList,
      >.searchList:hover{
      // &:has(p.searchId) > .searchList {
        display: block;
        position: absolute;
        top: 60px;
        left: 170px;
        padding: 0 10px;
        background-color: #fff;
        border: 2px solid #333;
        box-sizing: border-box;
        >li{
          margin: 5px;
          color: #ddd;
          cursor: pointer;
        }//li
      }//.searchList:hover
    }//.headMiddle

  }//header
  >section.admin{
    padding: 150px 0 50px;
  }//section
  
  form{ /* 수정 : form을 section의 밑이 아닌 바깥으로 뺐음 */
    > p { /* 수정 : 태그 및 스타일 추가 */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      font-size: 16px;
    }

    #bookInfoWrap { /* 수정 : 태그 추가 */
      .topContainer{ /* 수정 : 부모요소가 추가됨에 따라 하위로 이동 */
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 30px;

        >img { /* 수정 : 태그 추가 */
          display: block;
          width: 200px;
          height: 250px;
          object-fit: cover;
          outline: 1px solid red;
        }
       
        >div.inputPhoto{
          position: absolute; /*추가*/
          width: 200px;
          height: 250px;
          //width: 200px;
          //height: 250px;
          //background-color: gray;

          >label { /*추가*/
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            text-indent: -9999px;
          }

          >label:hover::after { /*추가*/
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            text-indent: initial;
            color: #fff;
            font-size: 15px;
            content: '사진 등록/변경';
          }
          >input { /*추가 : require속성 때문에 display:none 불가능*/
            position: absolute;
            bottom: 0;
            left: 0;
            background: none;
            border: none;
            text-indent: -9999px;
            width: 0;
            height: 0;
          }
        }//.inputPhoto
  
        >.shortInput{
          display: flex;
          flex-flow: column wrap;
          align-content: space-between;
          width: 75%;
          height: 480px;
          padding: 10px;
          >li{
            width: 40%;
            margin: 15px 0;
            >label{
              display: block;
              width: 80px;
            
            }//label
            >input{
              width: 100%;
              padding: 5px;
              font-size: 16px;
            }//input
          }//li
        }//.shortInput
      }//.topContainer
      >ul{
        width: 95%;
        margin: 0 auto;
        >li{
          margin: 30px 0;
          >input{
            width: 100%;
            height: 300px;
            padding: 5px;
            font-size: 16px;
          }//input
        }//li
      }//ul
    } // div#bookInfoWrap
    
    >button{
      display: block;
      width: 500px;
      margin: 50px auto;
      padding: 30px;
      font-size: 25px;
    }//button
  }//form
}//#wrap