@charset "utf-8";

$pri-color: rgb(127, 161, 195);
$point-color : rgb(100, 130, 173);
$sec-color : rgb(226, 218, 214);



@import "_header";
@import "_aside";
@import "_footer";

section{
  width: 1200px;
  margin: 0 auto;
  >h2{
    padding: 30px;
    text-align: center;
  }//h2
  >div{
    width: 340px;
    padding: 20px; 
    margin: 0 auto;
    >h3{
      text-align: center;
      margin-bottom: 30px;
    }
    >form{
      input{
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid $sec-color;
        border-radius: 5px;
        outline: none;
        box-sizing: border-box;
        &:hover{box-shadow: 1px 1px 1px #ddd;}
        &:focus{border-color: $point-color;}
      }//input
      button{
        background: none;
        border: none;
        outline: none;
        display: block;
        width: 100%;
        height: 40px;
        color: #fdfdfd;
        font-weight: 600;
        font-size: 17px;
        background-color: $pri-color;
        border-radius: 5px;
        &:hover{background-color: $point-color;}
      }//button
    }//form
    >a{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
      font-size: 14px;
      &:hover{
        color: $point-color;
        text-decoration: underline;
      }//a:hover
    }//a
  }//div
  #findPwdQuest{
    input[name=question]{
      margin: 5px 0 20px;
      &:hover{box-shadow: none;}
    }
  }//#findPwdQuest
  #pwdResetting{
    input{margin: 5px 0 20px;}
    button{
      &:nth-of-type(1){margin: 10px 0;}
    }//button
  }//#pwdResetting
}//section
footer {
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
  background-color: #aaa;
  >address{
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}